{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- custom true-cat favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/raya-truecat-apple-touch-icon.png"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/raya-truecat-icon-32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/raya-truecat-icon-192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="shortcut icon" href="{{ base_path }}/images/raya-truecat-icon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
